name: Deploy App to EKS

on:
  push:
    branches: ["main"]

env:
  AWS_REGION: us-east-1
  EKS_CLUSTER_NAME: project-bedrock-cluster
  NAMESPACE: retail-app

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Install kubectl
        uses: azure/setup-kubectl@v4

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --name "${EKS_CLUSTER_NAME}" --region "${AWS_REGION}"
          kubectl get nodes

      - name: Deploy manifests
        run: |
          # Apply only Kubernetes application manifests (NOT RBAC/aws-auth/patch files)
          kubectl apply -f K8s/ui-deployment.yaml -n "${NAMESPACE}"
          kubectl apply -f K8s/ui-service.yaml -n "${NAMESPACE}"
          kubectl apply -f K8s/ingress.yaml -n "${NAMESPACE}"

          kubectl rollout status deploy/retail-store-ui-ci -n "${NAMESPACE}" --timeout=180s
          kubectl get pods -n "${NAMESPACE}" -o wide
          kubectl get svc -n "${NAMESPACE}" -o wide
          kubectl get ingress -n "${NAMESPACE}" -o wide



